*{
    margin: 0;
    padding: 0;
}

.inter {
  font-family: "Inter", sans-serif;
 
}

body{background-color:#1A0B2E;
    color:white
    
    }
    main{
        max-width: 1200px;
        margin: 0 auto;
    }
    .podcast-section{
        max-width: 1600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .podcast-about-area{
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

.podcast-about-area h3{
font-size: 48px;
font-weight: bold;
margin-top: 20px;
color: #FFFFFF;
}

.podcast-about-area p{
    font-size: 16;
    color: #FFFFFF;
    padding-top: 6px;

}


    .podcast-card-area{
        max-width: 1200px;
        display: flex;
        justify-content: space-evenly;
        gap: 60px;
        padding: 120px 0;
    }
    .podcast-card h1{
        color: #00FF88;
        font-size: 48px;

    }
    .podcast-card p{
        color: #FFFFFF;
        font-size:16px ;
    }
    .choose-section{
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
.choose-section>h3{
    font-size: 48px;
    font-weight: 700;
   margin-bottom: 50px;

}
    
.choose-card-area{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 160px;
  gap: 20px;
}

.choose-card-1{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #351165;
}

.choose-card-2{
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  background-color: #351165;
}

.choose-card-3{
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  background-color: #351165;
}

.choose-card-4{
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-color: #351165;
}

.choose-card-5{
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  background-color: #351165;
}